language: java
jdk: oraclejdk8
addons:
  apt:
    packages:
      - oracle-java8-installer    # https://github.com/travis-ci/travis-ci/issues/3259
script:
  - git clone --depth 1 https://github.com/matsim-org/matsim.git
  - bash prepare.sh
  - cd $TRAVIS_BUILD_DIR/matsim && mvn install -B -Dmaven.test.redirectTestOutputToFile -Dmatsim.preferLocalDtds=true --fail-at-end
  - cd $TRAVIS_BUILD_DIR/matsim/matsim && mvn deploy -B -DskipTests=true --settings=$TRAVIS_BUILD_DIR/settings.xml
  - cd $TRAVIS_BUILD_DIR/matsim/contribs && mvn deploy -B -DskipTests=true --settings=$TRAVIS_BUILD_DIR/settings.xml
cache:
  directories:
  - $HOME/.m2
