language: java
jdk: oraclejdk8
addons:
  apt:
    packages:
      - oracle-java8-installer    # https://github.com/travis-ci/travis-ci/issues/3259
install: true
stages:
    - package
    - test
    - deploy
script:
    - git clone --depth 1 https://github.com/matsim-org/matsim.git
    - bash prepare.sh
    - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim && mvn install --also-make --projects ${MODULE} -DskipTests && cd ${TRAVIS_BUILD_DIR}/matsim/${MODULE} && mvn failsafe:integration-test --batch-mode -Dmaven.test.redirectTestOutputToFile -Dmatsim.preferLocalDtds=true --fail-at-end)
jobs:
  include:
    - stage: package
      script:
          - git clone --depth 1 https://github.com/matsim-org/matsim.git
          - bash prepare.sh
          - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim && mvn package --batch-mode -Dmaven.test.redirectTestOutputToFile -Dmatsim.preferLocalDtds=true --fail-at-end)
    - stage: deploy
      script:
          - git clone --depth 1 https://github.com/matsim-org/matsim.git
          - bash prepare.sh
          - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim && mvn install -DskipTests -B -Dmaven.test.redirectTestOutputToFile -Dmatsim.preferLocalDtds=true --fail-at-end)
          - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim/matsim && mvn deploy -B -DskipTests=true --settings=$TRAVIS_BUILD_DIR/settings.xml)
          - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim/contribs && mvn deploy -B -DskipTests=true --settings=$TRAVIS_BUILD_DIR/settings.xml)
          - test -e skip_build || (cd $TRAVIS_BUILD_DIR && curl --user $BINTRAY_USER:$BINTRAY_PASSWORD -X POST https://api.bintray.com/content/matsim-eth/matsim/matsim/`cat version.txt`/publish)

cache:
  directories:
  - $HOME/.m2
env:
  global:
    - MAVEN_OPTS="-Xmx2g"
  matrix:
    - MODULE=matsim
    - MODULE=contribs/accessibility
    - MODULE=contribs/av
    - MODULE=contribs/analysis
    - MODULE=contribs/cadytsIntegration
    - MODULE=contribs/carsharing
    - MODULE=contribs/drt
    - MODULE=contribs/dvrp
    - MODULE=contribs/taxi
    - MODULE=contribs/emissions
    - MODULE=contribs/freight
    - MODULE=contribs/signals
    - MODULE=contribs/locationchoice
    - MODULE=contribs/matsim4urbansim
    - MODULE=contribs/minibus
    - MODULE=contribs/networkEditor
    - MODULE=contribs/otfvis
    - MODULE=contribs/matrixbasedptrouter
    - MODULE=contribs/parking
    - MODULE=contribs/socnetsim
    - MODULE=contribs/socnetgen
    - MODULE=contribs/transEnergySim
    - MODULE=contribs/roadpricing
    - MODULE=contribs/opdytsIntegration
    - MODULE=contribs/multimodal
    - MODULE=contribs/integration
    - MODULE=contribs/wagonSim
    - MODULE=contribs/pseudosimulation
    - MODULE=contribs/common
    - MODULE=contribs/eventsBasedPTRouter
    - MODULE=contribs/travelsummary
    - MODULE=contribs/deprecated
    - MODULE=contribs/protobuf
    - MODULE=contribs/hybridsim
    - MODULE=contribs/noise
    - MODULE=contribs/bicycle

#script:
#  - git clone --depth 1 https://github.com/matsim-org/matsim.git
#  - bash prepare.sh
#  - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim && mvn install -B -Dmaven.test.redirectTestOutputToFile -Dmatsim.preferLocalDtds=true --fail-at-end)
#  - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim/matsim && mvn deploy -B -DskipTests=true --settings=$TRAVIS_BUILD_DIR/settings.xml)
#  - test -e skip_build || (cd $TRAVIS_BUILD_DIR/matsim/contribs && mvn deploy -B -DskipTests=true --settings=$TRAVIS_BUILD_DIR/settings.xml)
#  - test -e skip_build || (curl --user $BINTRAY_USER:$BINTRAY_PASSWORD -X POST https://api.bintray.com/content/matsim-eth/matsim/matsim/`cat version.txt`/publish)
#cache:
#  directories:
#  - $HOME/.m2
